<section class="logs">

  <button ng-show="logs.isFiltered()" class="reset btn btn-default pull-right" ng-click="logs.reset()">
    <i class="glyphicon glyphicon-repeat"></i>
    Reset filters
  </button>

  <h4 translate>logs.title</h4>

  <hr>
  <ol class="breadcrumb" ng-if="logs.message">    
    <li class="active" ng-if="logs.message">
      <a href="javascript:void(0);" ng-click="logs.closeMessage()">
        <span translate>logs.all</span> <span class="badge">{{::logs.logs.length}}</span>
      </a>
    </li>
    <li class="active">{{::logs.message.subject}}</li>
  </ol>
  <table class="table table-condensed" ng-if="!logs.message">
    <thead>
      <tr>
        <th class="header-filter">
          <date model="logs.date"></date>
        </th>
        <th class="header-filter">
          <select class="pull-right form-control input-sm" ng-model="logs.admin">
            <option value="" translate>logs.allsender</option>
            <option ng-repeat="sender in logs.senders" value="{{::sender}}">{{::sender}}</option>
          </select>
          <span translate>logs.sender</span>
        </th>
        <th class="header-filter">
          <select class="pull-right form-control input-sm" ng-model="logs.target"
            ng-options="t.key as t.value for t in logs.targets" chosen>
          </select>
          <span translate>logs.target</span>
        </th>
        <th class="header-filter">
          <select class="pull-right form-control input-sm" ng-model="logs.type">
            <option value="" translate>logs.alltype</option>
            <option ng-repeat="type in logs.types" value="{{::type}}">{{::type}}</option>
          </select>
          <span translate>logs.type</span>
        </th>
        <th>Original</th>
        <th>Modification</th>
      </tr>
    </thead>
    <tbody>
      <tr dir-paginate="log in logs.logs | logs: logs.type:logs.admin:logs.target:logs.date | orderBy: '-date' | itemsPerPage: logs.itemsPerPage">
        <td>{{::log.date | logDate}}
        <td><a ng-link="user({id: log.admin, tab: 'infos'})">{{::log.admin}}</a>
        <td>
          <a ng-link="user({id: log.target, tab: 'infos'})" ng-if="log.type !== 'ROLE_CREATE' && log.type !== 'ROLE_DELETE'">{{::log.target}}</a>
          <a ng-click="logs.displayRole(log.target)" ng-if="logs.filterRole(log.target).length">{{::log.target}}</a>
          <span ng-if="log.type === 'ROLE_DELETE'">{{::log.target}}</span>
        </td>
        <td>{{::log.type}}
        <td>{{::log.old}}
        <td ng-if="log.type === 'EMAIL_SENT'">
          <a ng-click="logs.openMessage(log.modification)" href="javascript:void(0);" translate>
            logs.mail
          </a>
        </td>
        <td ng-if="log.type !== 'EMAIL_SENT'">{{::log.modification}}</td>
      </tr>
    </tbody>
  </table>
  <div ng-if="logs.message">
    <h4>
      <small>
        {{logs.message.sender}}, <span translate>msg.on</span> {{logs.message.date | date: 'mediumDate'}}
      </small>
    </h4>
    <h4>
      {{logs.message.subject}}
    </h4>
    <p ng-bind-html="logs.message.trusted"></p>
    <hr ng-if="logs.message.attachments.length>0" />
    <h5 ng-if="logs.message.attachments.length>0" translate>msg.attachments</h5>
    <ul ng-if="logs.message.attachments.length>0">
      <li ng-repeat="attachment in logs.message.attachments">
        {{attachment.name}}
      </li>
    </ul>
  </div>

  <dir-pagination-controls ng-if="!logs.message"></dir-pagination-controls>

</section>
